body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
}
.main-container {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    border: 3px solid #666;
}
a {
    text-decoration: none;
    padding: 10px;
}
a:hover {
    opacity: 0.7;
}

/* header styles */
.menu-bar {
    display: none;
}
.header-container {
    position: relative;
}
.header-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-content {
    padding: 40px 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 14px;
}
.header-exit {
    color: #156963;
    margin-left: 30px;
    flex: none;
}
.button {
    background: #156963;
    color: #fff;
    padding: 8px 20px;
    margin-left: 30px;
    flex: none;
}
.header-link {
    margin-left: 30px;
}
.banner-img-container {
    
}
.banner-img {
  
}
.banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". ." "title title" "text text" "lex sex";
}
.banner-content-title {
    font-weight: 500;
    font-size: 68px;
    color: #156963;
    margin: 0;
    grid-area: title;
    display: grid;
    align-items: center;
    padding-left: 80px;
}
.banner-content-text {
    color: #2C1500;
    font-size: 18px;
    grid-area: text;
    padding-left: 80px;
}
.banner-description1 {
    grid-area: sex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #156963;
    color: #fff;
}
.banner-description {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
    grid-area: lex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.banner-description:hover {

}
.banner-name {
    font-weight: 500;
    font-size: 32px;
    margin-top: 15px;
}
